In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [31]:
df=sns.load_dataset('tips')

In [32]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [34]:
X = df.drop(columns=['total_bill'])
y = df['total_bill']

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
#Feature encoding for categorical variables
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder
le1 = LabelEncoder()
le2 = LabelEncoder()
le3 = LabelEncoder()
X_train['sex']=le1.fit_transform(X_train['sex'])
X_train['smoker']=le2.fit_transform(X_train['smoker'])
X_train['time']=le3.fit_transform(X_train['time'])

In [37]:
X_train.head()

      tip  sex  smoker   day  time  size
228  2.72    1       0   Sat     0     2
208  2.03    1       1   Sat     0     2
96   4.00    1       1   Fri     0     2
167  4.50    1       0   Sun     0     4
84   2.03    1       0  Thur     1     2

In [39]:
X_test['sex']=le1.fit_transform(X_test['sex'])
X_test['smoker']=le2.fit_transform(X_test['smoker'])
X_test['time']=le3.fit_transform(X_test['time'])

In [42]:
#One Hot Encoding for categorical variables
import sys
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
encoder=OneHotEncoder(drop='first')
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[3])],remainder='passthrough')
np.set_printoptions(threshold=sys.maxsize)  
X_train=ct.fit_transform(X_train)

In [43]:
x_test=ct.transform(X_test)

In [46]:
from sklearn.svm import SVR
regressor=SVR()
regressor.fit(X_train,y_train)
y_pred=regressor.predict(x_test)
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.5513989822828735

In [49]:
#Hyperparameter Tuning using GridSearchCV
from sklearn.model_selection import GridSearchCV
parameters={'kernel':['linear','rbf','poly'],'C':[1,10,100],'gamma':['scale','auto']}
grid_search=GridSearchCV(estimator=regressor,param_grid=parameters,scoring='r2',cv=5,n_jobs=-1)
grid_search.fit(X_train,y_train)
best_parameters=grid_search.best_params_
print(best_parameters)
best_score=grid_search.best_score_
print(best_score)

{'C': 100, 'gamma': 'scale', 'kernel': 'linear'}
0.5053603919869248