In [ ]:
# Creating a in memory database
import sqlite3

In [4]:
connection= sqlite3.connect('example.db')
connection

In [5]:
cursor=connection.cursor()

In [8]:
#Create a table 
cursor.execute('''
 CREATE TABLE IF NOT EXISTS employees(
               id INTEGER PRIMARY KEY,
               name TEXT NOT NULL,
               age INTEGER,
               department TEXT
               )
''')

#Commit the changes
connection.commit()

In [13]:
cursor.execute('''
SELECT * FROM employees    
''')

In [15]:
cursor.execute('''
Insert into employees(name,age,department)
               values ('ABC',30,'IT')
''')

In [16]:
cursor.execute('''
Insert into employees(name,age,department)
               values ('DEF',34,'HR')
''')

In [17]:
cursor.execute('''
Insert into employees(name,age,department)
               values ('XYZ',26,'FINANCE')
''')

In [19]:
connection.commit()
#Fetch the data
cursor.execute('''
SELECT * FROM employees
''')
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'ABC', 30, 'IT')
(2, 'DEF', 34, 'HR')
(3, 'XYZ', 26, 'FINANCE')

In [ ]:
cursor.execute('''
UPDATE employees
               SET age=38
               WHERE name='ABC'
''')
cursor.commit

In [33]:
cursor.execute('''
DELETE FROM employees
               WHERE name='PQR'
''')

In [42]:
cursor.execute('''
SELECT * FROM employees
''')
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'ABC', 38, 'IT')
(2, 'DEF', 34, 'HR')
(3, 'XYZ', 38, 'FINANCE')
(4, 'LMN', 29, 'MARKETING')
(5, 'OPQ', 31, 'SALES')
(6, 'RST', 28, 'IT')

In [39]:
cursor.execute('''
DELETE FROM employees
               WHERE id=4
''')

In [40]:
list_of_employees=[('LMN',29,'MARKETING'), 
                   ('OPQ',31,'SALES'),
                   ('RST',28,'IT')]

In [41]:
cursor.executemany(''' 
INSERT INTO employees(name,age,department)
                   VALUES (?,?,?)
''',list_of_employees)

In [ ]:
#close the connection
connection.close()