### Import

In [29]:
from math import sqrt,pi
print(sqrt(16))
print(pi)

4.0
3.141592653589793

In [30]:
import numpy as np
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [31]:
from package.maths import addition
print(addition(2,3))

from package import maths
print(maths.addition(2,3))

5
5

### Standard Library

In [32]:
import array
arr=array.array('i',[1,2,3,4])
print(arr)

array('i', [1, 2, 3, 4])

In [43]:
import random
print(random.randint(1,10))
print(random.choice(["red","orange","green","blue"]))

4
orange

In [47]:
import os
print(os.getcwd())
os.makedirs('test_dir')
open('empty_file.txt', 'w').close()

/Users/jay.khandelwal/Documents/Personal/Python/4-Import

In [49]:
#High level operation on files and collections of files
import shutil
shutil.copy('source.txt','destination.txt')

'destination.txt'

In [ ]:
#Data serialization: Converting a dict into json
import json
data={"name":"Karan","age":25}

json_str=json.dumps(data)
print(json_str)
print(type(json_str))

parsed_str=json.loads(json_str)
print(parsed_str)
print(type(parsed_str))
#json.dumps(): converts a Python object into a JSON string.
#json.loads(): converts a JSON string back into a Python object.

<class 'dict'>
{"name": "Karan", "age": 25}
<class 'str'>
{'name': 'Karan', 'age': 25}
<class 'dict'>

In [54]:
import csv

with open('example.csv',mode='w',newline='') as file:
    writer=csv.writer(file)
    writer.writerow(["name","age"])
    writer.writerow(["Rahul",32])

with open('example.csv',mode='r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['Rahul', '32']

In [57]:
from datetime import datetime,timedelta
now=datetime.now()
print(now)
yesterday=now-timedelta(days=1)
print(yesterday)

2025-05-02 17:26:23.409505
2025-05-01 17:26:23.409505

In [58]:
import time
print(time.time())
time.sleep(2)
print(time.time())

1746187067.290952
1746187069.294156

In [ ]:
##Regular Expression
import re
pattern=r'\d+'
text="There are 52 weeks in a year and each week has 7 days"
match=re.search(pattern,text)
print(match.group())

7